__pycache__/
bvh/
.idea/
imgui.ini
.DS_Store
output/
100STYLE/
bvh_set/
rendering/
outputs/
outputs_condition/
outputs_condition_foot/
outputs_condition_vel/
ex.ipynb
wandb/
hi.py
trajectory.pt
a.mp4
config1.yml
*.bvh
*.pt